db.sqlite3
.cache
.parcel-cache
.DS_Store
.coverage
.idea
coverage.sh
dump.rdb
__pycache__
node_modules
flycheck*
.#*
.pytest_cache
.vscode
.env
ngrok.yml
django-variables.env
django-variables.env.local
default.conf
.mypy_cache
htmlcov
.vscode/*
mypy.sh
xyz.py
tags
celerybeat*
tmp_images
app/static/css/build/*
app/static/dist/*
app/static/js/dash/*
app/status/dist
app/webpack-stats.json
logfile
.dsm
watch.py
.hypothesis
*.log


app/teampay/dev_settings.py
app/teampay/dev_urls.py

teamsPackage/package.zip
teamsPackage/manifest.json

# Docker specific
docker_volumes

# Random python files
.python-version
.python_version

# Virtual environment files
venv
.venv