// --------------------------------------------------------------------------
// Palettes

// Red
$list-red =         #ffebee, #ffcdd2, #ef9a9a, #e57373, #ef5350,
                    #f44336, #e53935, #d32f2f, #c62828, #b71c1c,
                    #ff8a80, #ff5252, #ff1744, #d50000

// Blue
$list-blue =        #e3f2fd, #bbdefb, #90caf9, #64b5f6, #42a5f5,
                    #2196f3, #1e88e5, #1976d2, #1565c0, #0d47a1,
                    #82b1ff, #448aff, #2979ff, #2962ff

// Light Blue
$list-light-blue =  #e1f5fe, #b3e5fc, #81d4fa, #4fc3f7, #29b6f6,
                    #03a9f4, #039be5, #0288d1, #0277bd, #01579b,
                    #80d8ff, #40c4ff, #00b0ff, #0091ea

// Green
$list-green =       #e8f5e9, #c8e6c9, #a5d6a7, #81c784, #66bb6a,
                    #4caf50, #43a047, #388e3c, #2e7d32, #1b5e20,

// Orange
$list-orange =      #fff3e0, #ffe0b2, #ffcc80, #ffb74d, #ffa726,
                    #ff9800, #fb8c00, #f57c00, #ef6c00, #e65100,
                    #ffd180, #ffab40, #ff9100, #ff6d00

// Grey
$list-grey =        #fafafa, #f5f5f5, #eeeeee, #e0e0e0, #bdbdbd,
                    #9e9e9e, #757575, #616161, #424242, #212121,
                    #ebebeb

// Blue Grey
$list-blue-grey =   #eceff1, #cfd8dc, #b0bec5, #90a4ae, #78909c,
                    #607d8b, #546e7a, #455a64, #37474f, #263238


// Definitions
// --------------------------------------------------------------------------

// Red
$c-red      = $list-red[5]

$c-red-50   = $list-red[0]
$c-red-100  = $list-red[1]
$c-red-200  = $list-red[2]
$c-red-300  = $list-red[3]
$c-red-400  = $list-red[4]
$c-red-500  = $list-red[5]
$c-red-600  = $list-red[6]
$c-red-700  = $list-red[7]
$c-red-800  = $list-red[8]
$c-red-900  = $list-red[9]
$c-red-A100 = $list-red[10]
$c-red-A200 = $list-red[11]
$c-red-A400 = $list-red[12]
$c-red-A700 = $list-red[13]

// Blue
$c-blue      = $list-blue[5]

$c-blue-50   = $list-blue[0]
$c-blue-100  = $list-blue[1]
$c-blue-200  = $list-blue[2]
$c-blue-300  = $list-blue[3]
$c-blue-400  = $list-blue[4]
$c-blue-500  = $list-blue[5]
$c-blue-600  = $list-blue[6]
$c-blue-700  = $list-blue[7]
$c-blue-800  = $list-blue[8]
$c-blue-900  = $list-blue[9]
$c-blue-A100 = $list-blue[10]
$c-blue-A200 = $list-blue[11]
$c-blue-A400 = $list-blue[12]
$c-blue-A700 = $list-blue[13]

// Light Blue
$c-light-blue      = $list-light-blue[5]

$c-light-blue-50   = $list-light-blue[0]
$c-light-blue-100  = $list-light-blue[1]
$c-light-blue-200  = $list-light-blue[2]
$c-light-blue-300  = $list-light-blue[3]
$c-light-blue-400  = $list-light-blue[4]
$c-light-blue-500  = $list-light-blue[5]
$c-light-blue-600  = $list-light-blue[6]
$c-light-blue-700  = $list-light-blue[7]
$c-light-blue-800  = $list-light-blue[8]
$c-light-blue-900  = $list-light-blue[9]
$c-light-blue-A100 = $list-light-blue[10]
$c-light-blue-A200 = $list-light-blue[11]
$c-light-blue-A400 = $list-light-blue[12]
$c-light-blue-A700 = $list-light-blue[13]

// Green
$c-green      = $list-green[5]

$c-green-50   = $list-green[0]
$c-green-100  = $list-green[1]
$c-green-200  = $list-green[2]
$c-green-300  = $list-green[3]
$c-green-400  = $list-green[4]
$c-green-500  = $list-green[5]
$c-green-600  = $list-green[6]
$c-green-700  = $list-green[7]
$c-green-800  = $list-green[8]
$c-green-900  = $list-green[9]
$c-green-A100 = $list-green[10]
$c-green-A200 = $list-green[11]
$c-green-A400 = $list-green[12]
$c-green-A700 = $list-green[13]

// Orange
$c-orange      = $list-orange[5]

$c-orange-50   = $list-orange[0]
$c-orange-100  = $list-orange[1]
$c-orange-200  = $list-orange[2]
$c-orange-300  = $list-orange[3]
$c-orange-400  = $list-orange[4]
$c-orange-500  = $list-orange[5]
$c-orange-600  = $list-orange[6]
$c-orange-700  = $list-orange[7]
$c-orange-800  = $list-orange[8]
$c-orange-900  = $list-orange[9]
$c-orange-A100 = $list-orange[10]
$c-orange-A200 = $list-orange[11]
$c-orange-A400 = $list-orange[12]
$c-orange-A700 = $list-orange[13]

// Grey
$c-grey      = $list-grey[5]
$c-placeholder-grey = $list-grey[1]

// Blue Grey
$c-blue-grey      = $list-blue-grey[5]

$c-blue-grey-25   = #F3F5F6
$c-blue-grey-50   = $list-blue-grey[0]
$c-blue-grey-75   = #E1E7E9
$c-blue-grey-100  = $list-blue-grey[1]
$c-blue-grey-200  = $list-blue-grey[2]
$c-blue-grey-300  = $list-blue-grey[3]
$c-blue-grey-400  = $list-blue-grey[4]
$c-blue-grey-500  = $list-blue-grey[5]
$c-blue-grey-600  = $list-blue-grey[6]
$c-blue-grey-700  = $list-blue-grey[7]
$c-blue-grey-800  = $list-blue-grey[8]
$c-blue-grey-900  = $list-blue-grey[9]

// ---------------------------------------------------------------------------
// Project Colors

$c-off-white = hsla(0, 0%, 98%, 1)
$c-black =     hsla(0, 0%, 0%, 1)
$c-off-black = hsla(0, 0%, 2%, 1)

// TP Dark Orange
$c-tp-dark-orange = #e15829
$c-accent-dark-orange = #cd4a1c

// TP Light Orange
$c-tp-light-orange = #ff9e16 // Active links, Warning
$c-accent-light-orange = #f48e00

// TP Dark Blue
$c-tp-dark-blue = #1f355e // Primary text
$c-accent-dark-blue = #152441

// TP Light Blue
$c-tp-light-blue = #00b3e3 // Links
$c-accent-light-blue = #009cc6

// TP Grey
$c-tp-grey = #cac8c8
$c-accent-grey = #9e9e9e

// Blue Grey
$c-blue-grey = $c-blue-grey-500
$c-accent-blue-grey = #455a64

// Green - Approve, Success
$c-tp-green = $c-green-500
$c-accent-green = #3f9142

// Red - Reject, Error
$c-tp-red = $c-red-500
$c-accent-red = #e81b0c

// Other Colors
$c-tp-brand-green = #0eb200

$c-primary =      $c-tp-light-blue
$c-primary-dark = $c-tp-dark-blue

// The two possible colors for overlayed text.
$c-dark-contrast = $c-white
$c-light-contrast = $c-black
$c-primary-contrast = $c-dark-contrast
$c-accent-contrast = $c-dark-contrast

// Greys
$c-blue-grey-75 = #e1e7e9
$c-cool-grey = $c-blue-grey-200

// Element Colors
$c-text = $c-primary-dark
$c-background = #fdfdfd
$c-body-background = $c-blue-grey-25

$c-link = $c-tp-light-blue
$c-link-active = $c-tp-light-orange
$c-link-contrast = $c-white
$c-link-active-contrast = $c-white
$c-link-contrast-secondary = $c-tp-dark-blue

// $c-highlight = #fffaf4
$c-highlight = $c-secondary-light-blue

$c-error = $c-tp-red
$c-error-bg = $c-red-50
$c-warning = $c-tp-light-orange
$c-success = $c-tp-green

// Secondary Colors
$c-secondary-dark-orange = #f7d5c9
$c-secondary-accent-dark-orange = #f1b29c

$c-secondary-dark-blue = #d4def1
$c-secondary-accent-dark-blue = #b6c7e6

$c-secondary-light-orange = #feeed6
$c-secondary-accent-light-orange = #fee1b7

$c-secondary-light-blue = #dbf7ff
$c-secondary-accent-light-blue = #b2eeff

$c-secondary-green = #def1df
$c-secondary-accent-green = #bbe1bc

$c-secondary-red = #fde3e1
$c-secondary-accent-red = #fcd1ce

$c-secondary-grey = $c-grey-200
$c-secondary-accent-grey = #dddddd

$c-secondary-blue-grey = $c-blue-grey-50
$c-secondary-accent-blue-grey = $c-blue-grey-100

// DESIGN SYSTEM

$c-primary-100 = #ebfaff
$c-primary-300 = #a8ecff
$c-primary-500 = #00b3e3
$c-primary-700 = #008db3

$c-secondary-100 = #e2eaf8
$c-secondary-300 = #becde9
$c-secondary-500 = #4565a1
$c-secondary-700 = #1f355e

$c-tertiary-100 = #fee5dc
$c-tertiary-300 = #f8c1af
$c-tertiary-500 = #e15829
$c-tertiary-700 = #bd3b0f

$c-grey-50   = #f8fbfc
$c-grey-100  = #e6f0f4
$c-grey-200  = #cbdde6
$c-grey-300  = #a2bfcd
$c-grey-400  = #7fa1b3
$c-grey-500  = #5c7b8a
$c-grey-700  = #3e6274
$c-grey-900  = #172b36
$c-grey-900--rgba-10 = rgba(23, 43, 54, .1)

$c-warning-100 = #fff0db
$c-warning-300 = #ffdca8
$c-warning-500 = #ff9316
$c-warning-700 = #cc7700

$c-approve-100 = #e2f8e3
$c-approve-300 = #bee9bf
$c-approve-500 = #4caf50
$c-approve-700 = #2d8630

$c-reject-100 = #ffdedb
$c-reject-300 = #fdb0aa
$c-reject-500 = #f44336
$c-reject-700 = #e01506

$c-white = #ffffff
$c-white--rgba-70 = rgba(255, 255, 255, .70)

bgWithBorder(colorType)
  background lookup('$c-' + colorType + '-100')
  border 1px solid lookup('$c-' + colorType + '-300')

whiteWithBorder(colorType)
  background $c-white
  border 1px solid lookup('$c-' + colorType + '-300')

// For Storybook but also could be used outside
.background
  &--primary
    &-100
      background $c-primary-100
    &-300
      background $c-primary-300
    &-500
      background $c-primary-500
    &-700
      background $c-primary-700

  &--secondary
    &-100
      background $c-secondary-100
    &-300
      background $c-secondary-300
    &-500
      background $c-secondary-500
    &-700
      background $c-secondary-700

  &--tertiary
    &-100
      background $c-tertiary-100
    &-300
      background $c-tertiary-300
    &-500
      background $c-tertiary-500
    &-700
      background $c-tertiary-700

  &--grey
    &-50
      background $c-grey-50
    &-100
      background $c-grey-100
    &-200
      background $c-grey-200
    &-300
      background $c-grey-300
    &-400
      background $c-grey-400
    &-500
      background $c-grey-500
    &-700
      background $c-grey-700
    &-900
      background $c-grey-900
    &-900--rgba-10
      background $c-grey-900--rgba-10

  &--warning
    &-100
      background $c-warning-100
    &-300
      background $c-warning-300
    &-500
      background $c-warning-500
    &-700
      background $c-warning-700

  &--approve
    &-100
      background $c-approve-100
    &-300
      background $c-approve-300
    &-500
      background $c-approve-500
    &-700
      background $c-approve-700

  &--reject
    &-100
      background $c-reject-100
    &-300
      background $c-reject-300
    &-500
      background $c-reject-500
    &-700
      background $c-reject-700

  &--white
    background $c-white

  &--white--rgba-70
    background $c-white--rgba-70

.bg-with-border
  &--primary
    bgWithBorder(primary)
  &--secondary
    bgWithBorder(secondary)
  &--tertiary
    bgWithBorder(tertiary)
  &--grey
    bgWithBorder('grey')
  &--warning
    bgWithBorder(warning)
  &--approve
    bgWithBorder(approve)
  &--reject
    bgWithBorder(reject)

.white-with-border
  &--primary
    whiteWithBorder(primary)
  &--secondary
    whiteWithBorder(secondary)
  &--tertiary
    whiteWithBorder(tertiary)
  &--grey
    whiteWithBorder('grey')
  &--warning
    whiteWithBorder(warning)
  &--approve
    whiteWithBorder(approve)
  &--reject
    whiteWithBorder(reject)
