// Sizing
$base-font-size = 14px
$base-spacing = $base-font-size * 1.714 // 24px
$base-margin = $base-spacing

// Overall dimensions
$page-padding-narrow = $base-font-size
$page-padding-wide = $base-font-size * 2
$page-padding-widest = $base-font-size * 4

// Breakpoints
$xsmall-val = 400px
$small-val = 768px
$medium-val = 992px
$large-val = 1200px

$breakpoints = {
  'xsmall': $xsmall-val,
  'small': $small-val,
  'medium': $medium-val,
  'large': $large-val
}

// Avatar sizes
$avatarSizes = {
  'quark': 6px,
  'electron': 8px,
  'proton': 10px,
  'atomic': 12px,
  'molecular': 14px,
  'micro': 16px,
  'mini': 20px,
  'tiny': 24px,
  'small': 30px,
  'medium': 36px,
  'large': 42px,
  'big': 60px,
  'huge': 80px,
  'massive': 100px,
}

$logoWidth = 400
$logoHeight = 130
$logoRatio = $logoHeight / $logoWidth

// Site Header dimensions
$siteHeaderHeight = 50px
$siteHeaderHeightMobile = 80px

// Border radius
$radius-small = 4px
$radius-medium = 8px
$radius-large = 16px

// Fieldset spacing
$fieldsetMultiSelectVerticalMargin = 3px
$fieldsetMultiSelectVerticalPadding = 6px
$fieldsetItemVerticalMargin = 9px
$fieldsetItemVerticalPadding = 0px
